// ===== HERO =====
.hero_bg-gradient {
  position: absolute;
  inset: 0;
  z-index: 2;
  background:
    linear-gradient(
      to right,
      rgba(6, 38, 40, 1) 0%,
      rgba(6, 38, 40, 0.95) 20%,
      rgba(6, 38, 40, 0.6) 35%,
      rgba(6, 38, 40, 0.2) 45%,
      transparent 50%
    ),
    radial-gradient(
      63.86% 76.63% at 54.62% -3.93%,
      rgba(10, 74, 76, 0.15) 0%,
      rgba(6, 38, 40, 0.2) 50%,
      rgba(14, 26, 34, 0.25) 100%
    );
}
