@use "variables" as *;

// Dropdown do menu - Desktop
.nav_menu_link {
  &.is-dropdown {
    padding-right: 2.4rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background: url("https://cdn.prod.website-files.com/6a2ab66cf16ced97322e197e/6a2b175b10b9c251dece2047_arrow.svg") no-repeat center center;
      background-size: contain;
    }
  }
}
