@use "variables" as *;

// Dropdown do menu - Desktop
.nav_menu_link {
  &.is-dropdown {
    display: flex;
    align-items: center;
    gap: 6px;

    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: url("../../src/assets/arrow.svg") no-repeat center center;
      background-size: contain;
      flex-shrink: 0;
    }
  }
}
