// B2Midia - Variáveis SCSS
// Arquivo: src/scss/_variables.scss
@use "sass:map";

// Cores — preencher com as cores do projeto
$black: #000000;
$muted-foreground: #666666;
$white: #ffffff;
$transition: all 0.3s ease;
$gradient-green: linear-gradient(87deg, #5CCE79 1.47%, #A6FFBD 97.81%);

// Breakpoints
$breakpoint: (
  "desktop": 1280px,
  "tablet": 1025px,
  "mobile": 640px,
);

// Mixin responsivo
@mixin responsivo($breakpoint-name) {
  @if map.has-key($breakpoint, $breakpoint-name) {
    @media (max-width: map.get($breakpoint, $breakpoint-name)) {
      @content;
    }
  } @else {
    @warn "Breakpoint não existe: #{$breakpoint-name}";
  }
}
